<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
    <title>User Panel</title>
     <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  </head>
  <body>
    <script src="{{ url_for('static',filename='js/login.js') }}"></script>
    <div class="grid-container">
      <div id='formContainer'>
        <form id="myForm" ethod=POST action="{{ url_for('login') }}">
          <input id="email" type="text" name="email" placeholder="Email-Address" required>
          <input id="password" type="password" name="pass" placeholder="Password" required>
         <button type="submit" id="login">Secure Log In</button>
        </form>
        <div id="registerContainer">
          <a href="{{ url_for('register') }}">Sign up here</a>.
        </div>
      </div>
    </div>
  </body>
</html>
