<html>
<head>
    <title>Register</title>
</head>
<body>
    <form method=POST action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="Input Password">Password</label>
                    <input type="password" name="password" placeholder="password">
                </div>
                    <button type="submit">Register</button>
    </form>
</body>
</html>
