body{
  background-color: #045D56;
  /* filter: invert(); */
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
#navbar{
  width: 7.5vw;
  height: 100vh;
  position: fixed;
  top: 0vh;
  left: 0vw;
  background-color: #212121;
  color: white;
  z-index: 5;
  /* display: table; */
  filter: drop-shadow(0px 0px 2vh #222222);
  transition: width .25s ease-in;
}
#navbar:hover{
  width: 20vw;
}
#navbar ul{
  /* display: table; */
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* text-align: center;
  table-layout: fixed; */
}
#navbar ul li{
  /* display: table-cell; */
  font-size: 1.5em;
  width: 100%;
  /* height: 10%; */
  /* vertical-align: middle; */
  /* margin: 0; */
  text-align: center;
  padding: 2vh 0vw 2vh 0vw;
  cursor: pointer;
  transition: background-color .35s ease-in;
}
#navbar ul li:hover{
  background-color: rgba(255,255,255,0.25);
}
#summaryCard{
  position: absolute;
  width: 40vw;
  height: 42.5vh;
  top: 2.5vh;
  left: 9.5vw;
  filter: drop-shadow(0px 0px 2vh #222222);
  background-color: #222222;
  border: solid 1px yellow;
  border-radius: 5px;
}
